<div class="media">
  <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
    alt="Avatar">
  <div class="media-body">
    <h5 class="mt-0 font-weight-bold blue-text"></h5>
    <%= comment.comment %>
  </div>
</div>
<br>