<div onload="date()" >
<h1>Welcome admin page</h1>
    Time:  <span id="datetime"></span> <br>
    We have <%= pluralize(@total_posts, "posts") %>.<br>
    We have <%= pluralize(@total_users, "users") %>.

</div>
