<div class="row">
  <div class="row aboutme">
    <div class="col-md-3">
      <h5 class="h5_aboutme">about me</h5>
    </div>
    <div class="col-md-9">
    </div>
    <div class="col-md-6">
      <img src="<%=image_path('IMG_2794')%>" class="rounded">
    </div>

    <div class="col-md-6">
      <h5 class="h5_aboutme">Trang dt</h5>
      <ul class="list-group list-group-flush aboutme">
        <li class="list-group-item">Các bạn có thể tìm đọc ở đây những bài viết về: Sổ tay lên kế hoạch [Bullet journal]; 
            Lối sống tối giản [Minimalism]; Cách để có một cuộc sống tốt hơn [Do it better]; Những 
            bài học đáng nhớ, những cuốn sách hay, tư vấn tâm lý [Highlight]... Và những điều tích 
            cực thường ngày trong cuộc sống của một cô gái trẻ.</li>
        <li class="list-group-item">Cô gái đó là Trang, mọi người thường gọi mình là Sun. Nếu mọi người quan tâm thì 
            hãy tiếp tục theo dõi và đăng kí email để nhận thông báo mỗi khi có bài viết mới nhé.</li>
        <li class="list-group-item"> Hello! I'm Trang, a lifestyle blogger from Vietnam. Trang is a blog about personal growth 
            + lifestyle design, where I share knowledge and inspiration about creating your dream life.<br>
        </li>
        <li class="list-group-item">✨ Don't be the same, be better✨</li>
      </ul>
    </div>

    <div class="col-md-6 ">
      <h5 class="h5_aboutme">contac me</h5>
      <div class="col-md-6 text-center" style="margin-left: auto;margin-right:auto;">
        <ul class="list-unstyled mb-0">
          <li><i class="fa fa-map-marker fa-2x"></i>
              <p>Nha Be, Ho Chi Minh, Viet Nam</p>
          </li>

          <li><i class="fa fa-phone  fa-2x"></i>
              <p>+ 84 234 567 89</p>
          </li>

          <li><i class="fa fa-envelope  fa-2x"></i>
              <p>duong1997trang@gmail.com</p>
          </li>

          <li><i class="fa fa-facebook fa-2x"></i>
            <p><a href="https://www.facebook.com/2302trang" class="text-dark">Duong Trang</a></p>
          </li>
        </ul>
      </div>
    </div>
  <div class="col-md-6">
    <img src="<%=image_path('IMG_2697')%>" class="rounded">
  </div>
</div>