/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";

#banner {
    background: rgb(243, 243, 223);
    padding: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: rgb(15, 15, 15);
}

#columns {
  overflow: hidden;
    #main {
      width: 80%;
      margin-left: 12em;
      padding-bottom: 99999px;
      margin-bottom: -99999px;
    }
    #side {
      padding: 1em 2em;
      margin-left: 1%;
      width: 10em;
      height: 35em;
      background: rgb(243, 243, 223);
      padding-bottom: 99999px;
      margin-bottom: -99999px;
      form, div {
        display: inline;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          a {
            color: rgb(255, 255, 255);
            font-size: small;
          }
        }
      }
    }
  }
  
